body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-size: cover;
}

header{
    background-color: #140f07;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

nav {
    text-align: center;
    margin: 20px 0;
}

nav a {
    color: #333;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

section {
    max-width: 800px;
    background-color: #fff;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section img {
    width: 100%;
    height: auto;
}