
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Changed font */
    background-color: #fefefe; 
    margin: 0;
    padding: 0;
}


h1 {
    text-align: center;
    color: #555; 
    margin-top: 20px; 
}


table {
    width: 90%; 
    margin: 20px auto;
    border-collapse: separate; 
    border: 3px solid #007bff; 
    border-radius: 8px; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); 
}

th, td {
    border: 1px solid #000000; 
    padding: 10px; 
    text-align: center; 
}

th {
    background-color: #566677; 
    color: #141414; 
}

