body {
    background-color: #f0f8ff;
    color: #333;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: #000000;
    text-align: center;
  }
  
  p {
    color: #000000;
  }
  
  a {
    color: #ff4b15;
  }
  
  .page{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr; 
    grid-template-rows: auto 1fr auto; 
    grid-template-areas: "Header"
                          "main"
                          "nav"
                          "footer";
  }

  .container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
  }
  
  header {
    background-color: #0246a5;
    color: white;
    padding: 20px;
  }
  
  main {
    display: flex;
    flex: 1;
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: " aside section";
  }
  nav {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  nav li {
    display: inline-block;
    margin-right: 10px;
  }
  