/* Body Styling */
body {
    background-color: #f0f8ff;
    color: #333;
    font-family: Arial, sans-serif;
}

/* Headings ID*/
h1 {
    color: #0047ab;
    text-align: center;
}

/* Paragraphs */
p {
    color: #000000;
}

/* Links */
a {
    color: #ff4b15;
}

/* Class Selector */
#top {
    background-color: #0047ab;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    padding: auto;
  }
  nav {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  nav li {
    display: inline-block;
    margin-right: 10px;
  }