
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0047ab;
    color: white;
    text-align: center;
    padding: 20px;
}


.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}


.sidebar {
    background-color: #e8f0fe;
    padding: 15px;
    border-right: 1px solid #ddd;
    margin-bottom: 20px; 
}

.sidebar h2 {
    margin-top: 0;
}

.sidebar ul {
    list-style-type: none;
    padding-left: 0;
}

.sidebar ul li a {
    color: #044db3;
    text-decoration: none;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

.lab-section {
    padding: 20px;
    margin: 20px 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
}


footer {
    text-align: center;
    padding: 10px;
    background-color: #000000;
    color: white;
}

@media (min-width: 769px) {
    .container {
        flex-direction: row;
        justify-content: space-between;
    }

    .sidebar {
        width: 25%; 
        margin-bottom: 0; 
    }

    .main-content {
        width: 70%;
    }
}
