/* Body Styling */
body {
    background-color: #f0f8ff;
    color: #333;
    font-family: Arial, sans-serif;
}

/* Headings ID*/
h1 {
    color: #0047ab;
    text-align: center;
}

/* Paragraphs */
p {
    color: #000000;
}

/* Links */
a {
    color: #ff4b15;
    text-decoration: none;
}

/* Class Selector */
#top {
    background-color: #0047ab;
}
